* {
  box-sizing: border-box;
}

body {
  font-family: vazir;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.todo-container {
  width: 95%;
  height: auto;
  display: flex;
}

.status {
  width: 100%;
  background-color: #f3f3f3;
  position: relative;
  padding: 60px 1rem 0.5rem;
  height: 100vh;
  max-height: 98vh;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
}

::-webkit-scrollbar {
  width: 1px;
}

.status:nth-child(even) {
  margin-left: 5px;
  margin-right: 5px;
}

.status h2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #343434;
  color: #f3f3f3;
  margin: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}

#add_btn {
  background-color: #ccc;
  outline: none;
  border: none;
  width: 100%;
  font-size: 36px;
  margin: 0.5rem 0;
  border-radius: 4px;
  cursor: pointer;
}

#add_btn:hover {
  background-color: #aaa;
}

.todo {
  background-color: #fff;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  position: relative;
}
.todo:first-of-type{
  margin-top: 0;
}

.textTodo {
  width: 80%;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
}

.todo .close {
  position: absolute;
  left: 1rem;
  top: 0rem;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.todo .close:hover {
  color: #343444;
}

/* modal */

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: #fff;
  direction: rtl;
}

.modal.active {
  top: 15%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  direction: rtl;
}

.modal .body {
  padding: 0.75rem;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;
}

#todo_input {
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.25rem;
  text-align: right;
  font-size: 16px;
  font-family: vazir;
}
#todo_submit {
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.25rem;
}

#todo_submit {
  background-color: #4caf50;
  color: #f3f3f3;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  font-family: vazir;
}

.error {
  color: red;
  font-size: 13px;
  margin: 0;
  display: none;
}
